@tailwind base; @tailwind components; @tailwind utilities;


html body{
    overflow-x: hidden;
    flex-wrap: nowrap;
}

#root {
    @apply bg-latar;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
  }
